// Define variables for your color scheme

// For example:
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F4F4F4;

// For this project
$red: #E1396C;
$green: #75B26B;
$light-green: #D0F9B1;

