
body {
  background: white;
}

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 170px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  h1 {
    color: white;
    font: $headers-font;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
  }
  h2 {
    color: black;
    font: $headers-font;
    margin-bottom: 50px;
  }
  #select {
    width: 400px;
  }
  #date {
    margin: 10px;
  }
}

.home-content {
  padding: 30px;
  ul {
    li {
      font: $body-font;
      font-size: 28px;
      list-style: none;
      &:first-child {
        margin-top: 26px;
      }
    }
  }
}
