<% content_for(:title_tag) do %>
  Dashboard | Pexotic
<% end %>

<div class="dashboard-container">
<div class="container">
  <h1 id="dashboard-title">Dashboard</h1>
  <div class="tabs">
  <a class="tab" id="my-bookings-tab">
    <h3>BOOKINGS</h3>
  </a>
  <a class="tab" id ="my-pets-tab">
    <h3>MY PETS</h3>
  </a>
</div>
<!--   <div class="row dashboard-labels">
    <div class="col-xs-12 col-sm-2 col-sm-offset-4">
      <p>Name </p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <p>Price</p>
    </div>
    <div class="col-xs-12 col-sm-1">
      <p>Dates</p>
    </div>
      <div class="col-xs-12 col-sm-1">
        <p>Actions</p>
      </div>
      <div class="col-xs-12 col-sm-1 col-sm-offset-1">
        <p>Status</p>
      </div>
  </div> -->
    <div id="my-items">
      <div id="my-pets">
        <%= render 'my_pets' %>
      </div>
      <div id="my-bookings">
        <%= render 'my_bookings' %>
      </div>
    </div>
</div>
</div>
</div>
