<% content_for(:title_tag) do %>
  Dashboard | Pexotic
<% end %>

<div class="dashboard-container">
<div class="container">
  <h1 id="dashboard-title">Dashboard</h1>
  <div class="tabs">
  <a class="tab" id="my-bookings-tab">
    <h3>BOOKINGS</h3>
  </a>
  <a class="tab" id ="my-pets-tab">
    <h3>MY PETS</h3>
  </a>
</div>
    <div id="my-items">
      <div id="my-pets">
        <%= render 'my_pets' %>
      </div>
      <div id="my-bookings">
        <%= render 'my_bookings' %>
      </div>
    </div>
</div>
</div>
</div>
