<div class="container">
  <h1>Your Profile</h1>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :email %>
    <%= f.input :location %>
    <%= f.submit "Edit", class: "btn btn-primary" %>
  <% end %>

  <h2>Your pets</h2>
  <h2>Someone's pets</h2>
</div>
