// _new.scss
.container {
  // padding-left: 0px;
  margin-top: 70px;
  color: $green;
  h2 {
  }
  .new-form {
  border: $green solid 1px;
  border-radius: 50px;
  padding: 50px;
  padding-top: 30px;
  }
  .links {
  }

}

body {
}

